.Rproj.user
.Rhistory
.RData
.Ruserdata
*DS_Store
website/syllabus/*.log
website/syllabus/*.aux
website/syllabus/*.out
website/syllabus/*synctex.gz
docs/*.tex
*.rdb
*.rdx

website/lectures/lecture*_cache/
website/lectures/lecture*_files/
website/slides/raw_slides/slides*cache/
website/slides/raw_slides/slides*_files/


